*.lo
*.in
Makefile
.deps
*.swp
aclocal.m4
compile
config.guess
config.h
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
missing
schroedinger-uninstalled.pc
schroedinger.pc
schroedinger.spec
.libs
*.la
schro-stdint.h
stamp-h1
autom4te.cache
